{% block body -%}
    {% if spot1 is defined and spot1 is not empty %}
        <img height="150px" src="{{spot1.getWebPath()}}">
    {% endif %}
    {% if spot2 is defined and spot2 is not empty %}
        <img height="150px" src="{{spot2.getWebPath()}}">
    {% endif %}

{% endblock %}
